<%= render "shared/second-header"%>
<div id="user-registration-complete-wrapper">
  <p id="user-registration-complete-title">ご利用ありがとうございました。またのご利用をお待ちしております。</p>
  <%= link_to 'トップページに戻る', root_path, class:"item-red-btn", id: "user-registration-complete-root-btn" %>
</div>
<%= render "shared/second-footer"%>