.delete-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  cursor: pointer;
  text-align: center;
}

.delete-red-btn a{
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.delete-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.histories {
  display: flex;
  margin-top: 24px;
  text-align: center;
}
.purchase-histories {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.sell-histories {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}