#user-registration-complete-wrapper{
  display: flex;
  flex-direction: column;
  padding: 0 10rem;
  align-items: center;
}

#user-registration-complete-title{
  margin: 3rem 0;
  font-weight: bold;
}

#user-registration-complete-root-btn{
  margin: 3rem 0;
}